.mx-datagrid-head th .dataGridSearchField {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: normal;
    width: 95%;
    text-align: inherit;
    padding-left: 25px;
}

select.dataGridSearchField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mx-datagrid-head th {
    vertical-align: top !important;
}

.dataGridSearchContainer {
    position: relative;
}

.dataGridSearchContainer i {
    position: absolute;
    top: 10px;
    left: 2.5%;
    margin-left: 9px;
    color: gray;
}

.dataGridSearchContainer .mx-dateinput-select-button {
    position: absolute;
    background-color: transparent;
    right: 0px;
    outline:0;
}

.dataGridSearchContainer .mx-dateinput-select-button:hover,
.dataGridSearchContainer .mx-dateinput-select-button:focus {
    color: gray;
    outline:0 !important;
}
